


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    max-width: 100%;
    min-height: 100vh;
    background-image: url('https://images.squarespace-cdn.com/content/v1/637c0a5adafeb04f70309b99/9e5734bf-474e-4f42-900f-ecd6cb32d8bb/artillery+battery+760_f_small.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    
     }

h1 {
    color: #333;
}
#navbar {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: #333;
  }
#navbar a {
    position: relative;
    left: 30%;
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
.displayCentrado {
  position: relative;
  margin-inline: auto;
  border: 3px solid rgb(14, 13, 13);
  background-color: #f2f2f2;
  width: 30%;
  height: 600px;
  top: 5vh;
  padding: 20px;
  border-radius: 25px;
}
.displayCentrado select {
  width: 100%; /* Asegura que los select ocupen el 100% del ancho disponible */
  box-sizing: border-box; /* Incluye el padding y el borde en el ancho total */

}
.row {
  display: flex;
  justify-content: space-around; /* Asegura que los elementos estén espaciados entre sí */
  align-items: center;
  gap: 10px;
  width: 100%;
  box-sizing: border-box;
}
.row div {
  flex:1;
  max-width: 25%;
}